<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="UTF-8">
    <link href="~/css/basestyles.css" rel="stylesheet" />
    <link href="~/css/styles.css" rel="stylesheet" />
    <title>Automobils</title>
</head>
<body>
    <header>
        <h2 class="clickable" onclick="document.location.replace(document.location.origin)">Автомобили</h2>
    </header>
    @RenderBody()
    <bottom><script type="text/javascript" src="~/js/scripts.js" charset="windows-1251"></script></bottom>
</body>
</html>